<div class="card">
  <div class="card-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
        <h5>Educación</h5>
        </div>
        <div class="col-2">
          <app-boton-agregar></app-boton-agregar>
        </div>
      </div>
  </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
          <h5 class="card-title">MIJORMI SRL | ANALISTA EN SISTEMAS</h5>
      <ul class="items-list">
        <div class="data-container">
        <li class="list-info">
          <div>
            <p><span> Marzo. 2022 - Presente</span></p>
            <li>Administrador bases de datos MYSQL.</li>
            <li>Soporte técnico a usuarios.</li>
            <li>dministrador de software de gestión.</li>
            <li>Pruebas QA en software de gestión.</li>
          </div>
        </li>
      </div>
      </ul>
        </div>
        <div class="col-1">
          <div><app-boton-editar></app-boton-editar>
          <app-boton-eliminar></app-boton-eliminar></div>
        </div>
      </div>
    </div>
    </div>
</div>
