<div class="container-fluid">
  <div class="row">
   <div class="col-8 border,border-none">
    <app-logo-arp></app-logo-arp>
   </div>
   <div class="col-4 border,border-none"> <app-redes-sociales></app-redes-sociales></div>
  </div>
</div><!--Fin del contenedor-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 border,border-none">
      <app-banner></app-banner>
      <div class="row">
        <div class="col-12 border,border-none">
          <app-foto-perfil></app-foto-perfil>
        </div>
      </div>
    </div>
  </div>
</div><!--Fin del contenedor-->

<div class="container-fluid">
  <div class="row">
    <div><p id="nombre">Gonzalo Ernesto Blas Trillo</p></div>
  </div>
  <div class="row">
    <div><p id="profesion">Full Stack Developer JR</p></div>
  </div>
  <div class="row">
    <h4 id="titulo_acerca_de"> Acerca de...</h4>
  </div>
  <div class="row">
    <div class="container-fluid"><p id="acerca_de">
      Inicie mis estudios en el área técnica en el 2016, alcanzando ese mismo año el titulo de reparador de pc.
      Estudie durante 2 años ingeniería informática, 
     <br>carrera que me permitió asentar mis bases sobre la informática. <br>Actualmente me encuentro estudiando una tecnicatura en programación.
      Estoy en búsqueda de mi primer trabajo como programador jr. el cual me permita aplicar mis conocimientos en la practica profesional y así continuar mi formación laboral y académica. 
      Tengo conocimientos en JavaScript y C y C# los cuales aprendí en la carrera que estoy cursando actualmente.
      <hr size="6px" color="black">
    </div>
</div><!--Fin del contenedor-->
