<div class="card mb-3" style="border: none;">
    <img class="card-img-top" src="../../assets/images/educacion.jpg" alt="Card image cap" id="imagen-educacion">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-10">
           <strong> <u style="color: white;"><h6 class="card-title" style="color: white;"><b> MIJORMI SRL | ANALISTA EN SISTEMAS</b></h6></u></strong>
    
           <ul class="items-list">
          <div class="data-container">
          <li class="list-info">
            <div>
              <p id="tiempo-trabajado"> <b> Marzo. 2022 - Presenawdasdawdawdawdaadawdkjawdjawte </b></p>
              <li style="margin-top: -10px; margin-left:-30px;">Administrador bases de datos MYSQL.</li>
              <li style=margin-left:-30px;>Soporte técnico a usuarios.</li>
              <li style=margin-left:-30px;>dministrador de software de gestión.</li>
              <li style=margin-left:-30px;>Pruebas QA en software de gestión.</li>
            </div>
          </li>
        </div>
        </ul>
          </div>
          <div class="col-2">
            <div><app-boton-editar></app-boton-editar>
            <app-boton-eliminar></app-boton-eliminar></div>
          </div>
        </div>
      </div>
    </div>
  </div>