<div class="card-fluid">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-10">
          <h5>Skills</h5>
          </div>
          <div class="col-2">
            <app-boton-agregar></app-boton-agregar>
          </div>
        </div>
    </div>
    </div>
    <div class="card-body">
      <h5 class="card-title"><b> Lenguajes de programacion</b></h5>
      <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="progress blue">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">C# 90%</div>
          </div>
            <div class="progress yellow">
              <span class="progress-left">
                              <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                              <span class="progress-bar"></span>
              </span>
              <div class="progress-value">JS 37.5%</div>
            </div>
            <div class="progress red">
              <span class="progress-left">
                              <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                              <span class="progress-bar"></span>
              </span>
              <div class="progress-value">37.5%</div>
            </div>
      </div>
    </div>
    <h5 class="card-title">Tegnologias</h5>
      <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="progress blue">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">C# 90%</div>
          </div>
            <div class="progress yellow">
              <span class="progress-left">
                              <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                              <span class="progress-bar"></span>
              </span>
              <div class="progress-value">JS 37.5%</div>
            </div>
            <div class="progress red">
              <span class="progress-left">
                              <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                              <span class="progress-bar"></span>
              </span>
              <div class="progress-value">37.5%</div>
            </div>
  </div>
 