<div class="card mb-3" style="border: none;">
  <img class="card-img-top" src="../../assets/images/skills.jpg" alt="Card image cap" id="imagen-skills">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
         <strong> <u style="color: white;"><h6 class="card-title" style="color: white;"><b> LENGUAJES DE PROGRAMACIÓN</b></h6></u></strong>
      <ul class="items-list">
        <div class="data-container">
        <li class="list-info">
          <div>
            <div class="row justify-content-center">
              <div class="col-md-12">
                  <div class="progress blue">
                    <span class="progress-left">
                                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">C# 90%</div>
                  </div>
                    <div class="progress yellow">
                      <span class="progress-left">
                                      <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                                      <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">JS 37.5%</div>
                    </div>
                    <div class="progress red">
                      <span class="progress-left">
                                <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                                      <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">37.5%</div>
                    </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      </ul>
        </div>
        <div class="col-2">
          <div><app-boton-editar></app-boton-editar>
          <app-boton-eliminar></app-boton-eliminar></div>
        </div>
      </div>
    </div>
  </div>
</div>