<div class="wrapper">
    <div class="logo">
        <img src="../../../assets/images/APLogo-pequeño.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Mi portfolio web
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Usuario">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Contraseña">
        </div>
        <button class="btn mt-3">Ingresar</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">¿olvidaste tu contraseña?</a> o <a href="#">¿Quieres registrarte?</a>
        <button onclick="location.href='/'" type="button" class="btn btn-primary btn-lg btn-block" class="btn mt-3">Regresar</button>
    </div>
</div>