<div class="card-fluid">
  <div class="card-header" style="border: -70px; color:black" id="encabezado">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
        <h5><b>Experiencia</b></h5>
        </div>
        <div class="col-2">
          <app-boton-agregar></app-boton-agregar>
        </div>
      </div>
  </div>
  </div>
  <div class="card-body" id="cuerpo">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
          <h6 class="card-title"><b> MIJORMI SRL | ANALISTA EN SISTEMAS</b></h6>
      <ul class="items-list">
        <div class="data-container">
        <li class="list-info">
          <div>
            <p id="tiempo-trabajado"> <b> Marzo. 2022 - Presente </b></p>
            <li style="margin-top: -10px; margin-left:-30px;">Administrador bases de datos MYSQL.</li>
            <li style=margin-left:-30px;>Soporte técnico a usuarios.</li>
            <li style=margin-left:-30px;>dministrador de software de gestión.</li>
            <li style=margin-left:-30px;>Pruebas QA en software de gestión.</li>
          </div>
        </li>
      </div>
      </ul>
        </div>
        <div class="col-2">
          <div><app-boton-editar></app-boton-editar>
            
          <app-boton-eliminar></app-boton-eliminar></div>
        </div>
      </div>
    </div>
    <hr size="6px" color="#1254C1">
    </div>
</div>

